name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
    - Dockerfile

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - name: Build the Docker image
      run: docker build . --file Dockerfile
