name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
    - Dockerfile

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Build the Docker image
      run: docker build . --file Dockerfile
