name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
    - Dockerfile

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Build the Docker image
      run: docker build . --file Dockerfile
