name: Renovate
on:
  schedule:
    - cron: '07 * * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  actions: write
  checks: write
  issues: write
  statuses: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: machine-learning-apps/actions-app-token@master
        with:
          APP_PEM: ${{ secrets.APP_PEM }}
          APP_ID: ${{ secrets.APP_ID }}

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.3
        with:
          configurationFile: renovate.json
          token: '${{ steps.get_token.outputs.app_token }}'
        env:
          LOG_LEVEL: debug
